<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>Flask App: DueDateReminder </h1>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">

      <nav>

        <div id="navbar">
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('add_bill') }}">Add Bills</a>
          <a href="{{ url_for('show_table') }}">Tables</a>
          <a href="{{ url_for('due_soon') }}">Due Soon</a>
        </div>
     </nav>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    </header>
    <main>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </main>
    <footer>
      <p>Copyright {{ current_year }}</p>
    </footer>
  </body>
</html>
